.button{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
    
    &:active{
        scale: 0.95;
    }
    &:hover{
        letter-spacing: 0.1rem;
    }
    
    &.primary-button{
        background-color: rgb(200, 27, 0);
            color: rgb(235, 235, 235);
            
            &:hover{
                background-color: rgb(177, 24, 0);
            }
        }
        
}