@font-face {
    font-family: insta;
    src: url("./Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf");
}

.nav-bar {
    
    p{
        font-family: insta;
        font-size: 1.3rem;
    }
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    button{
        width: 1.8rem;
        padding: 0.1rem;
        color: whitesmoke;
        background-color: transparent;
        border: none;
        // border-radius: 0.4rem;
        outline: none;
        cursor: pointer;
    }
}