*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
    width: 100%;
    background-color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form{
    padding: 2rem 4rem;
    display: flex;
    gap: 1rem;
    /* justify-content: center; */
    button, input{
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
    }

    button{
        background: linear-gradient(to bottom, rgb(53, 248, 137), seagreen);
        border: none;
        color: white;
        cursor: pointer;

        &:active{
            scale: 0.95;
        }
    }
}

.cards{
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    height: fit-content;
    width: 15%;
    background: linear-gradient(to bottom left, #242424, #333);
    border: 1px solid rgba(255, 255, 255, 0.221);
    color: rgb(231, 231, 231);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    button{
        padding: 0.3rem 0.2rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: none;
        background: linear-gradient(to bottom, rgb(53, 248, 137), seagreen);
        color: white;
        cursor: pointer;

        &:active{
            scale: 0.95;
        }
    }

    .delete{
        background: linear-gradient(to bottom, rgb(255, 74, 74),rgb(222, 5, 5));
    }

    input{
        font-size: 2rem;
        background-color: transparent;
        border: none;
        color: rgb(231, 231, 231);
    }

    h5{
        font-size: 1.2rem;
    }
}

button{
    transition: all 0.2s ease;
    &:hover{
        scale: 1.05;
    }
}